/* games css */

#games-list{
    padding: 10px;
}

.game {
    display: inline-block;
    background: #ddd;
    width: 125px;
    height: 185px;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: solid 1px #aaa;
    cursor: pointer;
}
.game:hover {
    background: orange;
}

.game img {
    width: 125px;
    height: 125px;
}

.game-name {
    font-size: small;
    font-weight: bold;
    text-align: center;
    height: 1.5em;
    overflow: hidden;
    margin-top: 10px;
}

.hability {
    font-size: small;
    text-align: center;
}
.capacity {
    font-size:x-small;
    text-align: center;
	margin-top: 5px;
}
#game-loaded {
    position: relative;    
}
#game {
    display: inline-block;
    border: solid 1px #999;
}

#game-side {
    background: green;
    width: 250px;
    height: 480px;
    display: block;
    float: right;
}

#game-close{
    position: absolute;
    top: 5px;
    right: 265px;
    cursor: pointer;
}