body {
    background: url('/img/background-dark.png') fixed;
    color: white;
}

#password-change-container {    
    margin: auto;
    margin-top: 6em;
    width: 29em;
}

#input-password-password, #input-password-password2 {
    width: 12em;
}